<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<dict>
		<key>PathState</key>
		<dict>
			<key>/Users/Shared/.dev.andre4ik3.managed.munki.checkandinstallatstartup</key>
			<true/>
			<key>/Users/Shared/.dev.andre4ik3.managed.munki.installatstartup</key>
			<true/>
			<key>/private/tmp/dev.andre4ik3.managed.munki.installatlogout</key>
			<true/>
		</dict>
	</dict>
	<key>Label</key>
	<string>dev.andre4ik3.managed.munki.msu.loginwindow</string>
	<key>LimitLoadToSessionType</key>
	<array>
		<string>LoginWindow</string>
	</array>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/munki/supervisor</string>
		<string>--timeout</string>
		<string>43200</string>
		<string>--</string>
		<string>/usr/local/munki/managedsoftwareupdate</string>
		<string>--logoutinstall</string>
	</array>
</dict>
</plist>
