<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<dict>
		<key>PathState</key>
		<dict>
			<key>/Users/Shared/.dev.andre4ik3.managed.munki.checkandinstallatstartup</key>
			<true/>
			<key>/Users/Shared/.dev.andre4ik3.managed.munki.installatstartup</key>
			<true/>
			<key>/private/tmp/dev.andre4ik3.managed.munki.installatlogout</key>
			<true/>
			<key>/var/run/dev.andre4ik3.managed.munki.status</key>
			<true/>
		</dict>
	</dict>
	<key>Label</key>
	<string>dev.andre4ik3.managed.munki.status</string>
	<key>LimitLoadToSessionType</key>
	<array>
		<string>LoginWindow</string>
	</array>
	<key>ProgramArguments</key>
	<array>
		<string>/Applications/Managed Software Center.app/Contents/Resources/MunkiStatus.app/Contents/MacOS/MunkiStatus</string>
	</array>
</dict>
</plist>
